.backup/
obsidian-notes/+/
obsidian-notes/calendar/
obsidian-notes/local/
obsidian-notes/x/attachments/
obsidian-notes/.obsidian/workspace.json
obsidian-notes/.obsidian/plugins/text-extractor/cache/
obsidian-notes/.trash/
